# Laravel
final_project_api/vendor/
final_project_api/node_modules/
final_project_api/.env
final_project_api/storage/*.key
final_project_api/storage/logs/
final_project_api/public/storage/

# Flutter
product_app/build/
product_app/.dart_tool/
product_app/.packages
product_app/flutter_export_environment.sh
product_app/.flutter-plugins
